<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Create a Movie </h1>
      <!--form.form-horizontal(action="", method="post", role="form")
        - if (error == "val")
          .alert.alert-danger(role="alert") All fields required, please try again
        .form-group
          label.col-xs-10.col-sm-3.control-label(for="number") Number
          .col-xs-12.col-sm-9
            input#number.form-control(name="number")
        .form-group
          label.col-xs-10.col-sm-3.control-label(for="question") Question
          .col-xs-12.col-sm-9
            input#question.form-control(name="question")-->
      
      <form class="form-horizontal" action="" method="post" role="form">
          <h3><%= error %></h3>
          <p> All fields are requiered, please try again. </p>
          <table>
        <tr>
        <td>Movie title</td>
        <td><input type="text" name="formtitle" ></td>
        </tr>
        <tr>
        <td> Number of Seasons </td>
        <td><input type="number" name="formseasons" ></td>
        </tr>
        <tr>
        <td>Years </td>
        <td><input type="text" name="formyears" ></td>
        </tr>
        <tr>
        <td>Movie on Netflix</td>
        <td><input type="text" name="formnetflix" ></td>
        </tr>      
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
          </form>
      
    
  </body>
</html>
