<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <!--<h1> Welcome to <%= title %></h1>-->
      
      <p> The 100 </p>
      <P> There are 4 seasons on Netflix.</P>
      <p> Made in 2017 </p>
      <ul>
          <li>TV Shows</li>
          <li>TV Action & Adventure</li>
          <li>TV Dramas</li>
          <li>TV Sci-Fi & Fantasy</li>
      </ul>
      <a href="https://www.netflix.com/search?q=the%20100&jbv=70283264&jbp=0&jbr=0"></a>
  </body>
</html>